<h1>Logingate#signup</h1>
<p>Find me in app/views/logingate/signup.html.erb</p>

<form action="dosignup" method="get">
<table>
  <tr>
    <td>ユーザ名：</td>
    <td><input name="name" type="text"></td>
  </tr>
  <tr>
    <td>パスワード：</td>
    <td><input name="pass" type="password"></td>
  </tr>
    <tr>
    <td></td>
    <td><input name="submitButton" type="submit" value="ログイン"></td>
  </tr>
</table>
</form>
